<div class="file-card">
    <div class="file-icon">📄</div>
    <div class="file-name" th:text="${object.objectName}"></div>
    <div class="dropdown">
        <button class="dropdown-button">⋮</button>
        <div class="dropdown-menu">
            <form method="get" th:action="@{/file/rename}">
                <input name="fileName" th:value="${object.objectName}" type="hidden">
                <input name="filePath" th:value="${object.objectPath}" type="hidden">
                <input name="username" th:value="${#authentication.name}" type="hidden">
                <input type="text" name="fileNewName" placeholder="New Name" class="input-rename">
                <button type="submit" class="dropdown-item">Rename</button>
            </form>
            <a th:href="${'/file/delete?fileName=' + object.objectName + '&filePath=' + object.objectPath + '&username=' + #authentication.name}"
               class="dropdown-item">Delete</a>
        </div>
    </div>
    <form method="get" th:action="@{/file}">
        <input name="fileName" th:value="${object.objectName}" type="hidden">
        <input name="filePath" th:value="${object.objectPath}" type="hidden">
        <input name="username" th:value="${#authentication.name}" type="hidden">
        <button type="submit" class="btn-download">Download</button>
    </form>
</div>
