<div class="folder-card">
    <div class="folder-icon">📁</div>
    <div class="folder-name" th:text="${object.objectName}"></div>
    <div class="dropdown">
        <button class="dropdown-button">⋮</button>
        <div class="dropdown-menu">
            <form method="get" th:action="@{/folder/rename}">
                <input name="folderName" th:value="${object.objectName}" type="hidden">
                <input name="folderPath" th:value="${object.objectPath}" type="hidden">
                <input name="username" th:value="${#authentication.name}" type="hidden">
                <input type="text" name="folderNewName" placeholder="New Name" class="input-rename">
                <button type="submit" class="dropdown-item">Rename</button>
            </form>
            <a th:href="${'/folder/delete?folderName=' + object.objectName + '&folderPath=' + object.objectPath + '&username=' + #authentication.name}"
               class="dropdown-item">Delete</a>
        </div>
    </div>
    <form method="get" th:action="@{/}">
        <input name="path" th:value="${object.objectPath}" type="hidden">
        <button type="submit" class="btn-open">Open</button>
    </form>
</div>
