<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Storage</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<div class="container">

    <div th:replace="~{components/header}"></div>
    <h1>File Storage</h1>

    <div sec:authorize="!isAuthenticated()">Please <a th:href="@{/sign-in}">login</a> to see your files</div>

    <div sec:authorize="isAuthenticated()">
        <div th:replace="~{components/search-field}"></div>

        <!-- Section with Folders & Files list -->
        <section class="section">
            <div th:if="${folderContentDto}" class="folder-content">

                <!-- BreadCrumbs Chain -->
                <div class="breadcrumbs">
                    <span th:each="breadCrumb, iterStat : ${folderContentDto.breadCrumbs}">
                        <a th:href="'/?path=' + ${breadCrumb.breadCrumbPath}" th:text="${breadCrumb.breadCrumbName}" class="breadcrumb-link"></a>
                        <span th:if="${!iterStat.last}" class="breadcrumb-separator">/</span>
                    </span>
                </div>

                <!-- Create Folder -->
                <form method="post" th:action="@{/folder/new-folder}" th:object="${folderRequestDto}" class="form">
                    <label for="folderName">New Folder:</label>
                    <input type="text" id="folderName" name="folderName" th:field="*{folderName}" required class="input">
                    <input name="folderPath" th:value="${folderContentDto.folderPath}" type="hidden">
                    <input name="username" th:value="${#authentication.name}" type="hidden">
                    <button type="submit" class="btn">Create</button>
                </form>

                <!-- Upload File -->
                <form method="post" th:action="@{/file}" enctype="multipart/form-data" class="form">
                    <label for="uploadFile">Upload File:</label>
                    <input type="file" id="uploadFile" name="file" accept="multipart/form-data" required class="input">
                    <input name="filePath" th:value="${folderContentDto.folderPath}" type="hidden">
                    <input name="username" th:value="${#authentication.name}" type="hidden">
                    <button type="submit" class="btn">Upload</button>
                </form>

                <!-- Display Folders & Files -->
                <div class="items-grid">
                    <div th:each="object : ${folderContentDto.objects}">
                        <div th:if="${object.isDir}">
                            <div th:replace="~{components/folder-card}"></div>
                        </div>
                        <div th:if="${!object.isDir}">
                            <div th:replace="~{components/file-card}"></div>
                        </div>
                    </div>
                </div>

                <div th:if="${folderContentDto.objects.isEmpty()}" class="empty-folder">Folder is empty</div>

            </div>
        </section>
    </div>
</div>
</body>
</html>
