<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Storage</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
<div class="container">
    <h1>File Storage</h1>

    <!-- Folder Creation Section -->
    <!--    <section class="section">-->
    <!--        <h2>Folder Creation</h2>-->
    <!--        <form th:action="@{/create-folder}" th:object="${folderRequestDto}" method="post" class="form">-->
    <!--            <label for="folderName">Enter Folder Name:</label>-->
    <!--            <input type="text" id="folderName" name="folderName" th:field="*{folderName}" required class="input">-->
    <!--            <input name="folderPath" th:field="*{folderPath}" type="hidden">-->
    <!--            <input name="username" th:value="${#authentication.name}" type="hidden">-->
    <!--            <button type="submit" class="btn">Create Folder</button>-->
    <!--        </form>-->
    <!--    </section>-->

    <!-- File Upload Section -->
    <section class="section">
        <h2>File Upload</h2>
        <form method="post" th:action="@{/file}" th:object="${fileUploadDto}" enctype="multipart/form-data"
              class="form">
            <label for="fileName">Choose Folder Name:</label>
            <input type="text" id="fileName" name="fileName" th:field="*{folderName}" required class="input">
            <label for="object">Choose File to Upload:</label>
            <input type="file" id="object" name="file" th:field="*{file}" accept="multipart/form-data" required
                   class="input">
            <input name="username" th:value="${#authentication.name}" type="hidden">
            <button type="submit" class="btn">Upload File</button>
        </form>
        <div th:if="${uploadFileSuccess}" class="success-message" th:text="${uploadFileSuccess}"></div>
    </section>

    <!-- Folder Upload Section -->
    <section class="section">
        <h2>Folder Upload</h2>
        <form method="post" th:action="@{/folder}" th:object="${folderUploadDto}" enctype="multipart/form-data"
              class="form">
            <label for="folder">Choose Folder to Upload:</label>
            <input type="file" id="folder" name="folder" th:field="*{folder}" webkitdirectory
                   accept="multipart/form-data" required class="input">
            <input name="username" th:value="${#authentication.name}" type="hidden">
            <button type="submit" class="btn">Upload Folder</button>
        </form>
        <div th:if="${uploadFolderSuccess}" class="success-message" th:text="${uploadFolderSuccess}"></div>
    </section>

    <!-- Folder List Section -->
    <section class="section">
        <h2>Get List of Folders</h2>
        <form method="get" th:action="@{/folder}" th:object="${folderRequestDto}" class="form">
            <input name="username" th:value="${#authentication.name}" type="hidden">
            <button type="submit" class="btn">Get Folders</button>
        </form>

        <div th:if="${folderContentDto}" class="folder-content">
            <div class="breadcrumbs">
                    <span th:each="breadCrumb : ${folderContentDto.breadCrumbs}">
                       <span> <a
                               th:href="'folder?folderPath=' + ${breadCrumb.value} + '&folderName=' + ${breadCrumb.key} + '&username=' + ${#authentication.name}"
                               th:text="${breadCrumb.key}" class="breadcrumb"></a> / </span>
                    </span>
            </div>

            <!--Create Folder-->
            <form method="post" th:action="@{/folder/new-folder}" th:object="${folderRequestDto}" class="form">
                <label for="folderName">Enter Folder Name:</label>
                <input type="text" id="folderName" name="folderName" th:field="*{folderName}" required class="input">
                <input name="folderPath" th:value="${folderContentDto.folderPath}" type="hidden">
                <input name="username" th:value="${#authentication.name}" type="hidden">
                <button type="submit" class="btn">Create Folder</button>
            </form>


            <!-- Folders -->
            <div class="folders">
                <div th:each="folder : ${folderContentDto.folders}" class="folder">
                    <form method="get" th:action="@{/folder}" th:object="${folderRequestDto}" class="form-inline">
                        <div th:text="${folder.folderName}" class="folder-name"></div>
                        <a th:href="${'/folder/delete?folderName=' + folder.folderName + '&folderPath=' + folder.folderPath + '&username=' + #authentication.name}">Delete</a>
                        <input name="folderName" th:value="${folder.folderName}" type="hidden">
                        <input name="folderPath" th:value="${folder.folderPath}" type="hidden">
                        <input name="username" th:value="${#authentication.name}" type="hidden">
                        <button type="submit" class="btn-small">Get Files</button>
                    </form>
                    <form method="get" th:action="@{/folder/rename}" class="form-inline">
                        <label for="folderNewName"></label>
                        <input type="text" id="folderNewName" name="folderNewName">
                        <input name="folderName" th:value="${folder.folderName}" type="hidden">
                        <input name="folderPath" th:value="${folder.folderPath}" type="hidden">
                        <input name="username" th:value="${#authentication.name}" type="hidden">
                        <button type="submit" class="btn-small">Rename</button>
                    </form>
                </div>
            </div>

            <!-- Files -->
            <div class="files">
                <div th:each="file : ${folderContentDto.files}" class="file">
                    <form method="get" th:action="@{/file}" th:object="${fileRequestDto}" class="form-inline">
                        <div th:text="${file.fileName}" class="file-name"></div>
                        <a th:href="${'/file/delete?fileName=' + file.fileName + '&filePath=' + file.filePath + '&username=' + #authentication.name}">Delete</a>
                        <input name="fileName" th:value="${file.fileName}" type="hidden">
                        <input name="filePath" th:value="${file.filePath}" type="hidden">
                        <input name="username" th:value="${#authentication.name}" type="hidden">
                        <button type="submit" class="btn-small">Download</button>
                    </form>
                </div>
            </div>

            <div th:if="${folderContentDto.files.isEmpty() && folderContentDto.folders.isEmpty()}">Folder is empty</div>
        </div>
    </section>
</div>
</body>

</html>
