<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/sign-in" method="post">
    <label for="login">Enter your Email
        <input type="email" class="form-control" id="login" name="username" placeholder="Enter your email" autocomplete="email" required>
    </label><br>
    <label for="password">Enter your Password
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password"
               required><br>

        <button type="submit" class="btn btn-primary btn-block">Log into account</button>
    </label>
</form>
<div th:if="${param.error} != null" style="color:red" >Invalid username or/and password</div>
<div th:if="${param.logout} != null" style="color:red" >Logout successfully</div>
<span>Dont have account yet? <a href="sign-up">Register</a></span>
</body>
</html>